
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

@media only screen and (max-width : 1790px) {
   #thanks-page {
      .page-wrapper {
         background-position: left top;
      }   
   }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

   .header {
      &-slogan {
         display: none;
      }
   }

   .main-menu {
      margin-top: 0;
   }

   .section {    
      &-trademarks {
         &-content {
            justify-content: center;
         }
         &-block1, &-block2 {
            width: 100%;
            img {
               margin-left: 20px;
            }
         }
      }
   }

}

@media only screen and (max-width : 991px) {	

    .form {
       &-title {
          font-size: 20px;
          margin: 15px;
       }
        &-content {
            justify-content: center;
            .input-div {
                margin: 0 15px 30px;
            }
        }
    }

    .hamburger {
        display: block;
    }    

    .header {
        &-phone {
           display: none;
        }

        
    }

    .footer {
        text-align: center;
        &-content {
            flex-direction: column;
            & > * {
               margin: 0 0 20px 0 !important;            
            }
            .vopros-button {
               margin: 0 !important;
            }
            .grow {
               display: none;
            }
        }
    }

	.main-menu {
        display: none;
        background-color: #fff;
		position: fixed;
		top: 101px;
		left: 0;
		right: 0;
		text-align: left;
		margin-left: 0;
      z-index: 98;
      padding: 10px 0;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
                margin: 0 0 5px;

                &:last-child {
                    margin: 0;
                }
			}
		}
    }

   .section {
      &-main {
         padding-top: 100px;
         img {
            display: none;
         }
         &-title {
            margin-right: 0;
            font-size: 28px;
            margin-bottom: 30px;
         }
         &-content {
            justify-content: space-between;
            align-items: flex-start;
         }
         &-list {
            max-width: 600px;
            list-style: none;
            padding: 0;
         }   
         &-form {
            position: static;
            margin: 0;
         }
      }

      &-supplys {
         .supply {
            width: 48%;
         }
      }
      &-appliances {
         .appliances {
            width: 48%;
            &:nth-child(1), &:nth-child(4), &:nth-child(5) {
               background-color: #fff;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(6) {
               background-color: $accent;
            }
         }
      }

      &-contact {
         background-position: right bottom;
         &-map {
            display: block;
         }
         .map {
            width: 100%;
            margin-bottom: 20px;
         }
         &-form {
            display: flex;
         }
         .form {           
            form {
               display: block;
            }
            .input-div {
               margin-right: 0;
            }
         }
      }
   }

   #thanks-page {
      .page-wrapper {
         background: transparent;
      }

      .header {
         background: $accent;
      }

      .section-thanks {
         padding: 130px 0 30px;
         display: flex;
         align-items: center;

         &-img {
            display: none;
         }

         &-text {
            margin-bottom: 20px;
         }
      }
   }


}

@media only screen and (max-width : 880px) { 
  .more {
    .form {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .logo {
        max-width: 200px;
    }

    .header {
        &-title {
           display: none;
        }
        .logo {
           margin: 0;
        }
        .button {
           margin: 0;
        }
    }
    
   .section {
      &-title {
         font-size: 27px;
      }

      &-trademarks {
         &-content {
            display: none;
         }
         .carousel-trademarks {
            display: block;
            img {
               width: 280px;
               height: 189px;
            }
         }
      }

      &-contact {
         &-form {
            display: block;
            margin: 0 auto;
            max-width: 500px;
         }
         &-text {
            margin-bottom: 20px;
         }
         .form {        
            .button {
               width: 100%;
            }
         }
      }
      
   }

   .more {
     &-img {
       margin-right: 30px;
     }
     .form {       
        form {
          margin: 0 auto;
          max-width: 500px;
          flex-direction: column;
        }

        &-info {
          margin: 0 auto;
          max-width: 500px;          
        }

        .input-div, .button {
          max-width: none;
          width: 100%;
        }
     }
   }

}

@media only screen and (max-width : 640px) {
  .more {
    &-content {
       flex-direction: column;         
    }

    &-img {
      margin: 0 auto;
   }
 }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {

  .remodal {
    &.remodal-small {
      padding: 25px 15px;
    }
  }


   .form {
      width: 100%;
      max-width: none;
         .input-div, .button {
            width: 100%;
            margin: 0 0 10px;
         }
   }

    .button {
        width: 100%;
        min-width: auto;

        &.button-large {
            font-size: 16px;
        }
    }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
    }
    
    .visible-xxs {
        display: block !important;
    }

	.hidden-xxs {
		display: none !important;
    }

    .header {
       .button {
          display: none;
       }
    }

   .section {
      &-title {
         font-size: 25px;
         margin-bottom: 20px;
      }

      &-main {     
         padding-bottom: 300px;

         &-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
         }    

         &-content {
            flex-direction: column;
            align-items: center;
         }

         &-form {
            padding: 15px;
            width: 100%;

            form {
              width: 100%;
            }
         }
      }

      &-provider {
        margin-top: -270px;
      }

      &-supplys {
         &-content {
         }
         .supply {
            width: 100%;
         }
      }

      &-appliances {
         .appliances {
            width: 100%;
            &:nth-child(1), &:nth-child(3), &:nth-child(5) {
               background-color: #fff;
            }
            &:nth-child(2), &:nth-child(4), &:nth-child(6) {
               background-color: $accent;
            }
         }
      }

   }

   .modal {
     &-title {
       font-size: 20px;
     }

     &-form {
       flex-direction: column;
     }

     &-left {
       margin-right: 0;
     }

     &-footer {
       display: block;
       text-align: left;
     }

     &[data-remodal-id="zadat-vopros"] {  
       background-size: cover;
       background-position: center 50px;
      .input-div {
        &:last-child {
          margin-bottom: 10px;
        }
      }

      .textarea {
        height: 125px;
        margin-bottom: 10px;
      }
    }
   }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
  
  .section {
    &-appliances {
      background-image: url('../img/appliances-back.png');
      background-size: auto;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {
	.section {
    &-appliances {
      background-size: 100% 100%;
    }

    &-certificates {
      background-size: 100% 100%;
    }
  }
}