@import './fonts';

$default_family: MyriadPro, Arial;
$title_family: MyriadPro, Arial;
$font_size: 14px;
$title_color: #000000;
$text_color: #000;

$accent: #fec10e;
$gradient: linear-gradient( 6deg, rgb(53,55,121) 0%, rgb(201,32,47) 100%);
