@import './base';

html, body {
	// height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
    font-weight: normal;
    font-family: $default_family;
	overflow-x: auto;
	opacity: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-wrapper {
    overflow: hidden;
    min-height: 100vh;
    background-color:#f9f7f7;
    display: flex;
    flex-direction: column;
}

.link {
    font-weight: bold;
}

.logo {
    display: inline-block;
}

.phone-block {
    text-align: center;
    a {
        display: block;
        margin: 0;
    }

    .link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
}

.text-phone {
   font-size: 24px;
   font-weight: bold;
}

.header {
   position: fixed;
   background-color: $accent;
   top: 0;
   width: 100%;
   z-index: 98;
   padding: 5px 0;

   &-title {
      font-weight: normal;
      max-width: 220px;
      font-size: 14px;
   }

   &-content {
      display: flex;
      align-items: center;
   }

   &-slogan {
      margin-left: 35px;
   }
   .logo {
      margin-right: 30px;
   }
   .button {
      margin-left: 50px;
   }
}

.footer {
    background-color: $accent;
   &-title {
      font-weight: 400;
      max-width: 220px;
      font-size: 14px;
      margin: 0;
   }
   .logo {
      margin-right: 30px;
   }
    &-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 0;
    }

   .vopros-button {
      margin: 0 0 0 50px;
      .vopros {
      margin-bottom: 10px;
      font-size: 16px;
      text-align: center;
      }
      .button {
         width: 226px;
      }
   }
    

}

.main-menu {   
   margin-top: -20px; 
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    li {
        margin: 0px 25px;
    }

   a {
      display: inline-block;
      line-height: 1.5;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal;

      &::after {
         content: "";
         display: block;
         height: 1px;
      }

      &.link:hover, &.active {
        &::after {
          @include gradient(); 
        }
      }
   }
}

.section {
    text-align: center;
    padding: 40px 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &-title {
        font-family: $title_family;
        font-size: 30px;

        font-weight: bold;
        color: $title_color;
        margin: 0 auto 40px;
        text-align: center;

        .inverse & {
            color: #fff;
        }
    }

   &-main {
      background-image: url('../img/main-back.png');
      text-align: left;
      padding: 160px 0 220px 0;

      &-title {
         font-size: 32px;
         color: #fff;
         margin: 15px 270px 0 0;
      }

      &-content {
         position: relative;
         display: flex;
         align-items: center;
      }

      &-list {
         max-width: 440px;
         list-style: none;
         padding: 0;

         li {
            position: relative;
            padding-left: 50px;
            margin-bottom: 23px;

            &::before {
               position: absolute;
               content: "";
               background-image: url('../img/check-mark.png');
               top: 50%;
               left: 0;
               transform: translateY(-50%);
               width: 27px;
               height: 25px;
            }
         }
      }

      &-form {
        position: absolute;
        top: -80px;
        right: 0;
        width: 262px;
        text-align: center;
        background-color: rgba(255, 243, 207, 0.8);
        padding: 20px 10px;

        &-title {
          font-size: 24px;
          margin-bottom: 20px;
        }

        form {
          width: 190px;
          margin: 0 auto;
        }

        .input-div {
          margin-bottom: 10px;
        }

        .button {
          width: 100%;
          margin-bottom: 20px;
        }
      }
   }

   &-provider {      
      padding-bottom: 0;
      margin-top: -200px;
      .section-title {
        margin-bottom: 60px;
      }

      &-content {
         display: flex;
         max-width: 860px;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
      }
      .provider {
         position: relative;
         max-width: 180px;
         margin: 0 25px 50px;
         img {
            margin-bottom: 15px;
         }
         &-line {
            width: 120px;
            height: 1px;
            margin: 0 auto;
            margin-bottom: 15px;
            @include gradient();
         }
      }
   }

   &-supplys {
     padding-top: 0;
      &-content {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      .supply {
         width: 23%;
         margin-bottom: 50px;
         &-img {
            position: relative;
            background-color: #fff;
            margin-bottom: 20px;
         }
         img {
            
         }
         &-title {
            background-color: $accent;
            position: absolute;
            max-width: 245px;
            font-size: 18px;
            padding: 7px 10px;
            text-align: left;
            left: 0;
            bottom: 20px;
         }
         .button {
            width: 100%;
         }
      }
   }

   &-appliances {
      margin-top: -160px;      
      padding: 180px 0 120px;
      background-image: none;

      &-content {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      .appliances {
         width: 32%;
         height: 220px;
         margin-bottom: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         &-title {
            font-size: 24px;
            margin: 0 0 35px;
         }

         &-link {
            font-size: 16px;            
         }
         &:nth-child(1), &:nth-child(3), &:nth-child(5) {
            background-color: #fff;
         }
         &:nth-child(2), &:nth-child(4), &:nth-child(6) {
            background-color: $accent;
         }
      }
   }

   &-trademarks {
      margin-top: -70px;
      z-index: 1;
      &-content {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }
      .carousel-trademarks {
         display: none;
      }
      &-block1, &-block2 {
         width: 50%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: flex-start;
      }
   }

   &-certificates {
      margin-top: -100px;
      background-image: url('../img/certificate.png');
      background-size: auto;
      padding: 205px 0 155px;

      .owl-item {
        text-align: center;
      }

      .certificate {
         border: 6px solid transparent;
         border-image: linear-gradient(to right, rgb(53,55,121), rgb(201,41,47));
         border-image-slice: 1;
         overflow: hidden;
         display: inline-block;
      }
   }

   &-contact {
      margin-top: -120px;
      background-image: url("../img/form-back.png");
      background-size: auto;
      background-position: calc(50% + 366.5px) bottom;

      &-map {
         display: flex;
         justify-content: space-between;
         margin-bottom: 120px;
      }

      .map {
         width: 32%;
         position: relative;
         &-title {
            background-color: $accent;
            position: absolute;
            max-width: 345px;
            font-size: 18px;
            padding: 7px 10px;
            text-align: left;
            left: 0;
            bottom: 20px;
            span {
               font-weight: bold;
            }
         }
      }

      &-form {
         display: flex;
         text-align: left;
      }

      &-text {
         .text-phone {
            margin-top: 25px;
         }
      }

      .form {
         .button {
            width: 239px;
         }
      }
   }
}

#thanks-page {
   .header {
      background: transparent;
   }

   .page-wrapper {
      background-image: url('../img/thanks-back-top.png');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right top;
   }

   .section-thanks {
      padding: 200px 0 0 0;
      flex-grow: 1;
      text-align: left;
   
      &-content {
         display: flex;
         justify-content: space-between;         
      }
   
      &-block {
         max-width: 400px;
      }
   
      &-text {
         font-size: 24px;
         margin: 25px 0 60px;
      }
   
      &-link {
         text-decoration: underline;
      }
   }
}

.modal {
  text-align: center;
  background-image: url('../img/modal-back.png');
  background-repeat: no-repeat;
  background-position: center bottom;

  &[data-remodal-id="obsudit-sodrudni4estvo"] {
    padding-bottom: 20px;
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  form {
    margin: 0 auto;
    width: 220px;
  }

  .input-div {
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
    margin: 10px 0;
  }

  &[data-remodal-id="zadat-vopros"] {
    padding-bottom: 20px;
    max-width: 750px;
    background-image: url('../img/remodal-back.png');
    
    form {
      width: auto;
      max-width: 535px;
      margin: 0 auto;
    }

    .textarea {
      flex-grow: 1;
      resize: none;
    }

    .input-div {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-form {
    display: flex;
    margin-bottom: 5px;
  }

  &-left {
    margin-right: 20px;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      width: auto;
    }
  }
}

.more {
   max-width: 880px;
   padding: 0;

   &-content {
      display: flex;
      align-items: flex-start;
      padding: 35px 50px 35px 50px;
   }

   &-img {
     margin-right: 70px;
   }

   &-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
   }

   &-trademarks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
      img {
         margin-right: 20px;
      }
   }
   .form {
      background-color: $accent;
      padding: 10px 35px;

      .input-div {
        max-width: 160px;       
        margin-right: 10px; 
      }

      .button {
        white-space: nowrap;
      }
   }
}

@import './_media';